<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body" style="padding-left: 25%;">
            <div class="skill-bars">
                <div class="bar">
                  <div class="info">
                    <span>Java</span>
                  </div>
                  <div class="progress-line html">
                    <span></span>
                  </div>
                </div>
                
                <div class="bar">
                  <div class="info">
                    <span>Spring Boot</span>
                  </div>
                  <div class="progress-line jquery">
                    <span></span>
                  </div>
                </div>
                <div class="bar">
                    <div class="info">
                      <span>MySQL</span>
                    </div>
                    <div class="progress-line mysql">
                      <span></span>
                    </div>
                  </div>
                  <div class="bar">
                    <div class="info">
                      <span>MongoDB</span>
                    </div>
                    <div class="progress-line python">
                      <span></span>
                    </div>
                  </div>
                <div class="bar">
                    <div class="info">
                      <span>Microservices</span>
                    </div>
                    <div class="progress-line css">
                      <span></span>
                    </div>
                  </div>
                
                
              </div>
        </div>
      </div>
    </div>
  </div>















  

  