<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Infosys Ltd.</div>
                                        <div class="h6 mt-0 title">Specialist Programmer (2020-September - Present)</div>
                                        <ul>
                                            <li>
                                                <p align="justify">Worked extensively with the backend which comprised of Spring Boot and JPA in the Retail Domain.
                                                </p>
                                            </li>
                                            <li>
                                                <p align="justify">Developed Restful API using Spring Boot in creating Dynamic Distribution Blocks and solved complex problems along with defect fixing, and Performance Tuning. 
                                                </p>
                                            </li>
                                            <li>
                                                <p align="justify">Worked on monitoring the application performance using Dynatrace. </p>
                                            </li>
                                            <li>
                                                <p align="justify">Used logs from Splunk, for analysis purposes of the application. </p>
                                            </li>
                                            <li>
                                                <p align="justify">Used GIT for Source Control and Version Management of all codes and resources.</p>
                                            </li>
                                            <li>
                                                <p align="justify">Multithreading Analysis in Netty server and thread-safety of application. </p>
                                            </li>
                                            <li>
                                                <p align="justify">Worked on designing of DB Schema for storing bulk document content in MongoDB.
                                                </p>
                                            </li>
                                            <li>
                                                <p align="justify">Designed SFTP API in Spring Boot and also executed the UNIX script from java to UNIX box.
                                                </p>
                                            </li>
                                        </ul>
                                        
                                        
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Backend Development</li>
                                                <li class="non_list">Web Development</li>
                                                <li class="non_list">Database Design</li>
                                                <li class="non_list">Performance Tuning</li>
                                                <li class="non_list">Application Monitoring</li>
                                                <li class="non_list">Defect Fixing</li>
                                            </ul>
                                            <p></p>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Spring Boot</li>
                                                        <li class="non_list">Oracle DB</li>
                                                        <li class="non_list">DB2</li>
                                                        <li class="non_list">MySQL</li>
                                                        <li class="non_list">MongoDB</li>
                                                        <li class="non_list">Angular</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">GIT</li>
                                                        <li class="non_list">Splunk</li>
                                                        <li class="non_list">Dynatrace</li>
                                                        <li class="non_list">Kubernates</li>
                                                        <li class="non_list">SonarQube</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Sigma-Aldrich</div>
                                        <div class="h6 mt-0 title">Research and Developer Intern (2019-Dec - 2020-June)</div>
                                        <ul>
                                            <li><p align="justify">Contributed to SFDC project by creating graphs and data tables for the relevant data from JSON file which is uploaded on any server.</p></li>
                                            <li><p align="justify">Build Custom Alexa Skill as voice bot and also chatbot using Amazon Lex. </p></li>
                                            <li><p align="justify">Done POC for crud operation using flask and MySQL.</p></li>
                                            <li><p align="justify">Developed RESTful API with spring boot and integrated it with Elasticsearch.</p></li>
                                            <li><p align="justify">Identified problems and recommended new processes to improve efficiency and reduce costs.</p></li>

                                        </ul>
                                        
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Application Development</li>
                                                <li class="non_list">Web Development</li>
                                                <li class="non_list">Backend Development</li>
                                                <li class="non_list">Alexa Skill development</li>
                                            </ul>
                                            <p></p>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Spring Boot</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">Mysql</li>
                                                        <li class="non_list">Elastic Search</li>
                                                        <li class="non_list">JPA</li>
                                                        <li class="non_list">Cockroach DB</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">AWS</li>                                                        
                                                        <li class="non_list">Custom Alexa Skill</li>
                                                        <li class="non_list">JUnit</li>
                                                        <li class="non_list">Mockito</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        