<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Technology</div>
                                <h4 class="category">Veltech University</h4>
                                <ul>
                                    <li> Veltech University is a Deemed University located in <b>Chennai, TamilNadu</b> </li>
                                        <li>Completed B.Tech in Computer Science and Engineering with <b>8.59 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2015</p>
                        <div class="h5">Higher Secondary School (HSC)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Higher Secondary School (C.B.S.E)</div>
                                <h4 class="category">D.A.V Public School Kabirmath Kandhawara Siwan</h4>
                                <ul>
                                        <li>Completed <b>HSC</b> from <b>Science Stream</b> with <b>88% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2013</p>
                        <div class="h5">Sedcondary School (SSC)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary School (C.B.S.E)</div>
                                <h4 class="category">D.A.V Public School Kabirmath Kandhawara Siwan</h4>
                                <ul>
                                        <li>Completed  <b>SSC</b> with <b> 9.4 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               