<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/pexcel.jpg');">
            </div>
        <div class="container">
            <div class="content-center">
                <div class="box"  >
                    <div class="profile-image">
                        <img src="assets/images/profile.jpg" class="cover" alt="Image" />
                    </div>
                    <div style="float: right;" >
                        <div class="h1 title">Ravi Sharma </div>
                        <h4 style="color:rgb(27, 240, 240)" class="category text-blue">SOFTWARE  DEVELOPER</h4>
                    </div>
                </div>
               
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><i class="fa fa-home"></i> HIRE ME </a>
                <a class="btn btn-primary smooth-scroll mr-2"href="https://drive.google.com/uc?id=15WhAwxs-P_JPCIPgK5aVeQ6-9WEVngUW&export=download" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><i class="fa fa-download"></i> RESUME</a>

            </div>
        </div>
        
        <div class="section">
            
            <div class="container">
                <div class="button-container">
                    
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/ravi_sharma2619/?hl=en" target="_blank" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/ravi-sharma-159219146/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/ravi2695" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/RaviSharma2695" target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
